<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is About Page</title>
</head>
<body>

	<section>
		<div class="container">

			<div class="card">

				<div class="card-body my-5">

					<div class="container text-center">

						<img alt="profile photo" style="height: 200px; width: 200px;"
							class="my_profile_picture" th:src="@{'/image/contact_logo.png'}">
					</div>
					
					<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">Start Adding Your Contact on Clouds...</h1>
					<a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase mt-3">Add New Contact</a>
					
					<hr />
					
					<h3>Donate US</h3>
					<input id="payment_id" type="text" class="form-control my2" placeholder="Enter amount here " />
					<div class="container text-center">
					<button onclick="paymentStart()" class="btn btn-success btn-block mt-2">Pay</button>
					</div>
					
				</div>

			</div>

		</div>
		
		<script>
		
		$(document).ready(() =>{
			$('.item').removeClass('active');
			$('#home-link').addClass('active');
		});
		
		</script>

	</section>

</body>
</html>